<div class="container">
    <form class="form-signin">
        <h2 class="form-signin-heading">Forgot Password</h2>
        <div class="alert alert-info" role="alert">Enter the password used during Sign-up</div>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <button class="btn-sm btn-primary" type="submit">Reset Password</button>
        <button class="btn-sm btn-danger" type="button" ng-click="goToState('login')">Don't have an account?</button>
        <button class="btn-sm btn-info" type="button">Sign up! if you have an account</button>
    </form>
</div>
